body {
    font-family: 'Lato', sans-serif;
    background: white;
    margin: 0; 
}


/* hero section */
.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* width: 1440px; */
    height: 800px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-size: cover;
}
.navigation-bar {
    grid-column: span 2; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.align-row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    flex: 1;
}
.images img {
    max-width: 100%;
}
.introduction{
    margin-left: 124px;
    width: 387px;
}
.brand{
    margin-top: 178px;
    font-weight: 700;
    font-size: 55px;
    color: #000;
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.78);
    margin-top: 40px;
}
.buy-now-button{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    width: 94px;
    height: 42px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #000;
    margin-top: 40px;
}
.buy-now{
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff1f1;
    backdrop-filter: blur(4px);
}
.images{
    margin-top: -60px;
    margin-left: 400px;
    display: flex;
    gap: 32px;
}
.redPen{
    width:372px;
    height:454px;
    margin-bottom: 230px;
    margin-top: +50px;
}
.bluePen{
    width:394px;
    height:400px;
    margin-bottom: 230px;
    margin-left: +20px;
    margin-top: +60px;
}
.blackPen{
    width:308px;
    height:300px;
    margin-bottom: 230px;
    margin-top: 80px;
    margin-left: -30px;
}


/*Best Sales and New Addition Sections  */
.special-items-section{
    margin-top: 120px;
    margin-left: 60px;
}
.itemsRow{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-right: 32px;
}
.secondary-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #000;
}
.item {
    grid-column: span 1;
    grid-template-rows: repeat(3, 1fr);
    display: flex;
    flex-direction: column; 
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    border-radius: 12px;
    width: 274px;
    height: 531px;
    margin-top: 50px;
}
.item-image{
    width: 200px;
    height: 400px;
    grid-row: span 1;
}
.item-name{
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #000;
    /* margin-top: 12px; */
    grid-row: span 1;
}
.item-price{
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #5e5e5e;
    /* margin-top: 12px; */
    grid-row: span 1;
}

/* special offer section */
.special-offer {
    position: relative; /* Ensure positioning context for child elements */
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 3px 14px 32px 0 rgba(1, 0, 77, 0.25), 13px 57px 59px 0 rgba(1, 0, 77, 0.21), 29px 129px 79px 0 rgba(1, 0, 77, 0.13), 51px 228px 94px 0 rgba(1, 0, 77, 0.04), 80px 357px 102px 0 rgba(1, 0, 77, 0);
    background: #4f5362;
    border: 1px solid #000;
    border-radius: 24px;
    width: 1192px;
    height: 477px;
    margin-left: 60px;
    margin-top: 120px;
}

.image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 462px;
    height: 262px;
    filter: blur(200px);
    background: #6f7aa3;
    z-index: 1; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative; 
    z-index: 2;
}

.right-side {
    flex: 1;
    padding: 40px; 
}

.special-offer-name {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #fff1f1;
}

.add-to-cart {
    border-radius: 10px;
    padding: 10px;
    width: 163px;
    height: 44px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff1f1;
    margin-top: 20px; 
    margin-left: 400px; 
    /* align-items: right; */
}

.special-offer-description {
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    color: #fff;
}

.button-add-to-cart-text {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    color: #4f5362;
}


/* footer section */
.footer {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 178px;
    background: rgba(160, 166, 187, 0.4);
}

.footer-text {
    grid-column: span 1;
    display: flex;
    padding: 10px;
    align-items: center;
    color: #000;
}
